* {
    box-sizing: border-box;
}

:root {
    --main-color: #131720;
    --secondary-color: #151f30;
    --main-text: white;
}

body {
    background-color: var(--main-color);
    font-family: sans-serif;
}

h3 {
    color: var(--main-text);
}

.top-nav {
    overflow: hidden;
    background-color: var(--main-color);
    padding: 10px;
}

.top-nav a {
    float: left;
    display: block;
    color: var(--main-text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.top-nav .search-container {
    float: right;
}

form {
    background-color: var(--secondary-color);
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

input {
    all: unset; /*Interesting this, for the search bar*/
    font: 15px system-ui;
    color: var(--main-text);
    height: 100%;
    width: 100%;
    padding: 6px 9px;
}

.thumbnail {
    height: 350px;
    width: 300px;
    border-radius: 19px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
}

.card {
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: var(--secondary-color);
}